@model Nagarro.EventManagement.Shared.CommentsDTO

<h4>CommentsDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CommentPost" asp-controller="Event" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label"></label>
                <input asp-for="CommentID" class="form-control" />
                <span asp-validation-for="CommentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input asp-for="EventId" class="form-control" />
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
